.usdt-button {
    background-color: #26A17B;  /* Tether USDT green */
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(38, 161, 123, 0.3);
    transition: background-color 0.3s ease;
    user-select: none;
    margin-top: 16px;
  }

  .proof-button {
    background-color: #2759ad; /* Dodger Blue */
    box-shadow: 0 4px 8px rgba(38, 161, 123, 0.3);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
    margin-top: 16px;
  }

  .usdt-button:hover {
    background-color: #208e6a;
  }

  .usdt-button:active {
    background-color: #1a7358;
  }
